{% extends "main.html" %}
{% block title %}
    <title>About</title>
{% endblock %}
{% block content %}
    <h2>About Me</h2>
    <p>I'm a web and software developer, with experience in Python, C, Javascript, HTML, and CSS. I have significant proficiency in programming and relevant education and experience for employment in the field. I have a number of works completed which show my skill in programming and development, and I also learn new things on a regular basis to stay up to date. In terms of soft skills, I am an excellent team player and communicator, and I'm diligent to the extent that I always do my part in a group.</p>

    <h3>Skills and Experience</h3>

    <ul>-Python Experience- 1.5 Years</ul>
    <ul>-C Experience- 1 Year(s)</ul>
    <ul>-Proficient in all major OS</ul>
    <ul>-SQL and database knowledge</ul>
    <ul>-Excellent troubleshooting and debugging skills</ul>

{% endblock %}