{% extends "main.html" %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $(".contact").fadeIn(1500);
            $(".phone").fadeIn(2500);
            $(".email").fadeIn(3500);
            $(".form").fadeIn(4500);
        });
    </script>
{% endblock %}
{% block title %}
    <title>Contact</title>
{% endblock %}
{% block content %}
	{% for message in get_flashed_messages() %}
		<div class="alert"> {{ message }}</div>
	{% endfor %}
    <h2 class="contact" style="display:none;">Contact Information</h2>
    <h3 class="phone" style="display:none;">Phone- 630-940-6060</h3>
    <h3 class="email" style="display:none;">Email- harmanatwal7@gmail.com</h3>
    <!--{% for field in fields %}
        <div class='field'>
            <h4>{{ field['Name'] }}</h4>
            <h4>{{ field['Contact'] }}</h4>
            <p>{{ field['Message'] }}</p>
        </div>
    {% endfor %}-->
    <div class="form" style="display:none;">
        <form method="post">
        <label for="name">Name</label>
        <br>
        <input type="text" name="name"
               placeholder="Please enter your name"
               value="{{ request.form['name'] }}"></input>
        <br>

        <label for="contact">Contact</label>   
        <br> 
        <input type="text" name="contact"
               placeholder="Please enter your contact information"
               value="{{ request.form['contact'] }}"></input>
        <br>

        <label for="message">Message Content</label>
        <br>
        <textarea name="message"
                  placeholder="Please leave a message here."
                  rows="15"
                  cols="60"
                  >{{ request.form['content'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
